<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        th {
            width: 200px;
            height: 50px;
            border: 1px solid black;
        }
    </style>
    <script>
        var BaseUrl, account;
        window.onload = function () {
            var url = window.location.href
            var UrlPos = url.indexOf('url')
            BaseUrl = ''
            for(let i = UrlPos + 4; i < url.length;i ++){
                if(url[i] == '&') break
                BaseUrl += url[i]
            }
            var accountPos = url.indexOf('account') + 8
            account = ''
            for(let i = accountPos;i < url.length;i ++){
                if(url[i] == '&') break
                account += url[i]
            }
            doctorTable = document.getElementById('doctorTable')
            xhttp = new XMLHttpRequest()
            xhttp.onreadystatechange = function () {
                if(this.readyState == 4 && this.status == 200){
                    clinicList = JSON.parse(this.responseText).clinicList
                    for(let i = 0;i < clinicList.length;i ++) {
                        var row = document.createElement('div')
                        row.style = "display: flex; flex-direction: row"
                        // 名称
                        var name = document.createElement('div')
                        name.className = 'Block1'
                        name.innerHTML = clinicList[i].name
                        row.appendChild(name)
                        // 城市
                        var city = document.createElement('div')
                        city.className = 'Block1'
                        city.innerHTML = clinicList[i].city
                        row.appendChild(city)
                        // 县
                        var county = document.createElement('div')
                        county.className = 'Block1'
                        county.innerHTML = clinicList[i].county
                        row.appendChild(county)
                        // 位置
                        var location = document.createElement('div')
                        location.className = 'Block1'
                        location.innerHTML = clinicList[i].location
                        row.appendChild(location)
                        // 操作
                        var manu = document.createElement('div')
                        manu.className = 'Block1'
                        var app = document.createElement('button')
                        app.innerHTML = '申请'
                        app.disabled = clinicList[i].disabled
                        app.id = 'application' + i
                        app.addEventListener('click', function () {
                            xhttp = new XMLHttpRequest()
                            xhttp.open('GET', BaseUrl + 'doctor/application/?sender=' + account + '&id=' + clinicList[i].id, true)
                            xhttp.send()
                        })
                        manu.appendChild(app)
                        row.appendChild(manu)
                        clinicTable.appendChild(row)
                    }
                }
            }
            xhttp.open("GET", BaseUrl + 'doctor/index/information/?account=' + account, true)
            xhttp.send()
        }
        function requestClinic(id) {
            var xhttp = new XMLHttpRequest()
            var button = document.getElementById()
            console.log(button)
            xhttp.onreadystatechange = function () {
                if(this.readyState == 4 && this.status == 200){
                    button.style.display = 'none'
                }
            }
            xhttp.open('GET', 'application/?sender=' + account + '&id=' + id)
            xhttp.send()
        }
    </script>
</head>
<body style="background-color: skyblue">
<div>
    <div style="background-color: #5899ff; height: 100px; width: 94.25vw; color: white;font-size: 40px;
            display: inline-flex; align-items: center; padding-left: 100px">
        诊所 : 主页
        <a href="person/" style="margin-left: 60vw" class="tab">
            个人中心
        </a>
        <a href="logout/" class="tab">
            注销登录
        </a>
    </div>
</div>
<div style="display: flex; flex-direction: row; justify-content: center; margin-top: 50px">
    <div style="display: flex; flex-direction: column">
        <button class="Option1" id="Index">系统首页</button>
        <button class="Option1" id="Doctor">诊所医师</button>
        <button class="Option1" id="Appointment">消息处理</button>
        <button class="Option2">出诊设置</button>
        <button class="Option1">评论查看</button>
        <div style="width: 200px; height: 400px; background-color: #5899ff"></div>
    </div>
    <div style="background-color: whitesmoke; height: 650px; width: 1000px; align-items: center;
                flex-direction: column; display: flex"
         id="IndexPage">
        <div style="display: flex; flex-direction: row; align-self: flex-start; margin-left: 3vw; margin-top: 1vw">
            <div style="color: gray">
                主页 /
            </div>
            <div>
                出诊设置
            </div>
        </div>
        <hr style="width: 110vh">
        <div style="display: flex; flex-direction: row">
            <div class="Block1">医生</div>
            <div class="Block1">日期</div>
            <div class="Block1">开始时间</div>
            <div class="Block1">结束时间</div>
            <div class="Block1">删除</div>
        </div>
        <div style="display: flex; flex-direction: row">
            <div class="Block1">徐希奇</div>
            <div class="Block1">2024年4月27日</div>
            <div class="Block1">12:00</div>
            <div class="Block1">12:30</div>
            <div class="Block1">√</div>
        </div>
        <div style="display: flex; flex-direction: row">
            <div class="Block1">徐希奇</div>
            <div class="Block1">2024年4月27日</div>
            <div class="Block1">12:30</div>
            <div class="Block1">13:00</div>
            <div class="Block1">√</div>
        </div>
        <div style="display: flex; flex-direction: row">
            <div class="Block1">徐希奇</div>
            <div class="Block1">2024年4月27日</div>
            <div class="Block1">13:00</div>
            <div class="Block1">13:30</div>
            <div class="Block1">√</div>
        </div>
        <div style="display: flex; flex-direction: row">
            <div class="Block1">徐希奇</div>
            <div class="Block1">2024年4月27日</div>
            <div class="Block1">13:30</div>
            <div class="Block1">14:00</div>
            <div class="Block1">√</div>
        </div>
        <div style="display: flex; flex-direction: row">
            <div class="Block1"></div>
            <div class="Block1"></div>
            <div class="Block1"></div>
            <div class="Block1"></div>
            <div class="Block1"></div>
        </div>
    </div>
    <div style="background-color: whitesmoke; height: 650px; width: 1000px; display: none" id="DoctorPage">
        <div style="display: flex; flex-direction: row; align-self: flex-start; margin-left: 3vw; margin-top: 1vw">
            <div style="color: gray">
                主页 /
            </div>
            <div>
                诊所
            </div>
        </div>
        <hr style="width: 110vh">
        <div style="display: flex; flex-direction: column; align-items: center" id="DoctorTable">
            <div style="display: flex; flex-direction: row">
                <div class="Block1">日期</div>
                <div class="Block1">时间</div>
                <div class="Block1">病人</div>
                <div class="Block1">服务</div>
                <div class="Block1">操作</div>
            </div>
        </div>
    </div>
    <div style="background-color: whitesmoke; height: 650px; width: 1000px; display: none" id="AppointmentPage">
        <div style="display: flex; flex-direction: row; align-self: flex-start; margin-left: 3vw; margin-top: 1vw">
            <div style="color: gray">
                主页 /
            </div>
            <div>
                系统首页
            </div>
        </div>
        <hr style="width: 110vh">
        <div id="appointmentTable" style="font-size: 30px; display: flex; justify-content: center">
            欢迎来到医生主页
        </div>
    </div>
</div>
</body>
<style>
    .Option1 {
        width: 200px;
        height: 50px;
        font-size: 15px;
        background-color: #5899ff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: none;
    }
    .Option2 {
        width: 200px;
        height: 50px;
        font-size: 15px;
        background-color: blue;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: none;
    }
    .Block1 {
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px black solid;
        margin: -1px;
        background-color: #e0e0e0;
    }
    .tab {
        text-decoration: none;
        color: white;
        background-color: #2a90ff;
        padding: 5px 20px;
        font-size: 20px;
    }
</style>
</html>