<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        th {
            width: 200px;
            height: 50px;
            border: 1px solid black;
        }
    </style>
    <script>
        var BaseUrl, account;
        window.onload = function () {
            var url = window.location.href
            var UrlPos = url.indexOf('url')
            BaseUrl = ''
            for(let i = UrlPos + 4; i < url.length;i ++){
                if(url[i] == '&') break
                BaseUrl += url[i]
            }
            var accountPos = url.indexOf('account') + 8
            account = ''
            for(let i = accountPos;i < url.length;i ++){
                if(url[i] == '&') break
                account += url[i]
            }
            clinicTable = document.getElementById('clinicTable')
            appointmentTable = document.getElementById('appointmentTable')
            xhttp = new XMLHttpRequest()
            xhttp.onreadystatechange = function () {
                if(this.readyState == 4 && this.status == 200){
                    clinicList = JSON.parse(this.responseText).clinicList
                    for(let i = 0;i < clinicList.length;i ++) {
                        var row = document.createElement('div')
                        row.style = "display: flex; flex-direction: row"
                        // 名称
                        var name = document.createElement('div')
                        name.className = 'Block1'
                        name.innerHTML = clinicList[i].name
                        row.appendChild(name)
                        // 城市
                        var city = document.createElement('div')
                        city.className = 'Block1'
                        city.innerHTML = clinicList[i].city
                        row.appendChild(city)
                        // 县
                        var county = document.createElement('div')
                        county.className = 'Block1'
                        county.innerHTML = clinicList[i].county
                        row.appendChild(county)
                        // 位置
                        var location = document.createElement('div')
                        location.className = 'Block1'
                        location.innerHTML = clinicList[i].location
                        row.appendChild(location)
                        // 操作
                        var manu = document.createElement('div')
                        manu.className = 'Block1'
                        var app = document.createElement('button')
                        app.innerHTML = '申请'
                        app.disabled = clinicList[i].disabled
                        app.id = 'application' + i
                        app.addEventListener('click', function () {
                            xhttp = new XMLHttpRequest()
                            xhttp.open('GET', BaseUrl + 'doctor/application/?sender=' + account + '&id=' + clinicList[i].id, true)
                            xhttp.send()
                        })
                        manu.appendChild(app)
                        row.appendChild(manu)
                        clinicTable.appendChild(row)
                    }
                }
            }
            xhttp.open("GET", BaseUrl + 'doctor/index/information/?account=' + account, true)
            xhttp.send()
        }
        function IndexFunction(){
            document.getElementById('Index').className = 'Option2'
            document.getElementById('Doctor').className = 'Option1'
            document.getElementById('Appointment').className = 'Option1'
            document.getElementById('IndexPage').style.display = 'flex'
            document.getElementById('DoctorPage').style.display = 'none'
            document.getElementById('AppointmentPage').style.display = 'none'
        }
        function DoctorFunction(){
            document.getElementById('Index').className = 'Option1'
            document.getElementById('Doctor').className = 'Option2'
            document.getElementById('Appointment').className = 'Option1'
            document.getElementById('IndexPage').style.display = 'none'
            document.getElementById('DoctorPage').style.display = 'block'
            document.getElementById('AppointmentPage').style.display = 'none'
        }
        function AppointmentFunction(){
            document.getElementById('Index').className = 'Option1'
            document.getElementById('Doctor').className = 'Option1'
            document.getElementById('Appointment').className = 'Option2'
            document.getElementById('IndexPage').style.display = 'none'
            document.getElementById('DoctorPage').style.display = 'none'
            document.getElementById('AppointmentPage').style.display = 'block'
        }
        function requestClinic(id) {
            var xhttp = new XMLHttpRequest()
            var button = document.getElementById()
            console.log(button)
            xhttp.onreadystatechange = function () {
                if(this.readyState == 4 && this.status == 200){
                    button.style.display = 'none'
                }
            }
            xhttp.open('GET', 'application/?sender=' + account + '&id=' + id)
            xhttp.send()
        }
    </script>
</head>
<body style="background-color: skyblue">
<div>
    <div style="background-color: #5899ff; height: 100px; width: 94.25vw; color: white;font-size: 40px;
            display: inline-flex; align-items: center; padding-left: 100px">
        医生 : 主页
        <a href="person/" style="margin-left: 60vw" class="tab">
            个人中心
        </a>
        <a href="logout/" class="tab">
            注销登录
        </a>
    </div>
</div>
<div style="display: flex; flex-direction: row; justify-content: center; margin-top: 50px">
    <div style="display: flex; flex-direction: column">
        <button class="Option2" id="Index" onclick="IndexFunction()">系统首页</button>
        <button class="Option1" id="Doctor" onclick="DoctorFunction()">诊所医师</button>
        <button class="Option1" id="Appointment" onclick="AppointmentFunction()">挂号信息</button>
        <div style="width: 200px; height: 500px; background-color: #5899ff"></div>
    </div>
    <div style="background-color: whitesmoke; height: 650px; width: 1000px; display: flex; align-items: center;
                flex-direction: column"
         id="IndexPage">
        <div style="display: flex; flex-direction: row; align-self: flex-start; margin-left: 3vw; margin-top: 1vw">
            <div style="color: gray">
                主页 /
            </div>
            <div>
                系统首页
            </div>
        </div>
        <hr style="width: 110vh">
        <div style="font-size: 30px; margin-top: 3vh">
            欢迎来到医生主页
        </div>
    </div>
    <div style="background-color: whitesmoke; height: 650px; width: 1000px; display: none" id="DoctorPage">
        <div style="display: flex; flex-direction: row; align-self: flex-start; margin-left: 3vw; margin-top: 1vw">
            <div style="color: gray">
                主页 /
            </div>
            <div>
                诊所
            </div>
        </div>
        <hr style="width: 110vh">
        <div style="display: flex; flex-direction: column; align-items: center" id="DoctorTable">
            <div style="display: flex; flex-direction: row">
                <div class="Block1">名称</div>
                <div class="Block1">城市</div>
                <div class="Block1">区/县/县级市</div>
                <div class="Block1">位置</div>
                <div class="Block1">操作</div>
            </div>
            <div id="clinicTable"></div>
        </div>
    </div>
    <div style="background-color: whitesmoke; height: 650px; width: 1000px; display: none" id="AppointmentPage">
        <div style="display: flex; flex-direction: row; align-self: flex-start; margin-left: 3vw; margin-top: 1vw">
            <div style="color: gray">
                主页 /
            </div>
            <div>
                挂号信息
            </div>
        </div>
        <hr style="width: 110vh">
        <div id="appointmentTable"></div>
    </div>
</div>
</body>
<style>
    .Option1 {
        width: 200px;
        height: 50px;
        font-size: 15px;
        background-color: #5899ff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: none;
    }
    .Option2 {
        width: 200px;
        height: 50px;
        font-size: 15px;
        background-color: blue;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: none;
    }
    .Block1 {
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px black solid;
        margin: -1px;
        background-color: #e0e0e0;
    }
    .tab {
        text-decoration: none;
        color: white;
        background-color: #2a90ff;
        padding: 5px 20px;
        font-size: 20px;
    }
</style>
</html>